<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Suite">

  <test thread-count="5" name="Test">
    <groups>
    	<run>
    	
    	
    	<include name="functional"/>
    	<!--<include name= "regression"  />-->
    	<!--exclude name="sanity"/>	-->
    		
    		
    	</run>
    </groups>
    
    
    <classes>
      <class name="groupinginTestNG.loginTests"/>
      <class name="groupinginTestNG.Signuptests"/>
      <class name="groupinginTestNG.paymentTests"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
